{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--        <form action="process/form/" method="post">-->

<!--            <p>Название мероприятия:</p>-->
<!--            <input type="text" name="name" value="Your name">-->
<!--            <br><br>-->
<!--            <p>Короткое описание: </p>-->
<!--            <textarea name="short_description" rows="2" cols="50">Your comments</textarea>-->

<!--            <p>Полное описание: </p>-->
<!--            <textarea name="full_description" rows="5" cols="50">Your comments</textarea>-->

<!--            <p>Дата начала: </p>-->
<!--            <textarea name="date_start" rows="1" cols="20">Your comments</textarea>-->

<!--            <p>Дата завершения: </p>-->
<!--            <textarea name="date_end" rows="1" cols="20">Your comments</textarea>-->

<!--            <input type="submit">-->

<!--        </form>-->
    <legend class="border-bottom mb-4">Новое мероприятие</legend>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" class="btn btn-outline-info">Save</button>
    </form>
{% endblock content %}