{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-events' object.event_creator_id %}">{{ object.event_creator_id }}</a>
        <small class="text-muted">{{ object.create_date|date:"F d, Y" }}</small>

      </div>
      <h2 class="article-title">{{ object.event_name }}</h2>
      <p class="article-content">{{ object.short_description }}</p>
      <p class="article-content">{{ object.full_description }}</p>
      {% if event.start_date and event.start_date|date:"F d, Y" == event.end_date|date:"F d, Y" %}
         <div>
          <small class="text-muted">Дата мероприятия: {{ object.start_date|date:"F d, Y" }}</small>
         </div>
      {% elif event.start_date %}
          <div>
          <small class="text-muted">Дата начала: {{ object.start_date|date:"F d, Y" }}</small>
          </div>
      {% endif %}

      {% if object.end_date and object.start_date|date:"F d, Y" != object.end_date|date:"F d, Y" %}
          <div>
          <small class="text-muted">Дата завершения: {{ object.end_date|date:"F d, Y" }}</small>
          </div>
      {% endif %}
    </div>
  </article>
{% endblock content %}